#infoForm-button {
    width: 100%;
    position: relative;
}
.infoForm-button__background {
    width: 100%;
}
.button-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .button-content--text {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 0;
    }
}
.information-left__id {
    .button-content--icon {
        display: none;
    }
}
