.horizontal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .item {
        display: flex;
        width: 25%;
        align-items: center;
        min-width: 94px;
        margin-bottom: 5px;
    }
    input {
        margin-right: 2px;
        cursor: pointer;
    }
}
