.headerForm {
    display: flex;
    height: 95px;
    margin: auto;
    align-items: center;
}
.logo {
    width: 5.49%;
    height: 80px;
}
.headerTxt {
    font-size: 30;
    color: white;
    padding-left: 10px;
    text-align: center;
}
