.normalForm {
    width: auto;
    background-color: #E8DDD5;
    height: auto;
    border-radius: 5px;
}
.normalTxt {
    color: white;
}
.epicTxt {
   color: #AF94FD;
}
.rareTxt {
    color: #499DD6;
}
.legendTxt {
    color: #E06626;
}
.mythicalTxt {
    color: #7B53B5;
}
.epicBg {
    background-color: #C4AFD2;
}
.rareBg {
    background-color: #9DB6C5;
}
.legendBg {
    background-color: #DC9F75;
}
.mythicalBg {
    background-color: #B296B8;
}


