.titleForm {
    justify-content: space-between;
}
.tierForm {
    background-color: #d8c7ba;
    border: 1px solid #ada197;
    border-radius: 10px;
    margin: 10px;
}
.tierButton {
    width: auto;
}
.detail {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}
// .titleItem {
//     font-size: 13px;
//     font-weight: bold;
//     margin-left: 5px;
//     color: #4E4D4D;
//     // margin-top: -10px;
// }
