@import "./component/button.scss";
@import "./component/content.scss";
@import "./component/detailItem.scss";
@import "./component/filterForm.scss";
@import "./component/genItem.scss";
@import "./component/header.scss";
@import "./component/rarityItem.scss";
@import "./component/tier.scss";

.background {
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.main {
    background-color: #2f3957;
    border-radius: 25px;
    width: 98.47%;
    height: calc(100vh - 122px);
    margin: auto;
}
.logo {
    width: 200px;
    height: 31.84px;
}
.headerForm {
    display: flex;
    height: 95px;
    align-items: center;
}
.iconButton {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.button {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #2f3957;
    border-color: black;
    display: flex;
    width: 15.7%;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.title {
    font-size: 20px;
    color: white;
    font-weight: bold;
}
button:hover {
    background-color: #c4baa1;
}
.body {
    background-color: #f0e4db;
    width: 100%;
    height: 79vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    display: flex;
}
.buttonForm {
    display: flex;
}
.tab {
    padding: 10px;
}
.filterForm {
    width: 23.4%;
    height: 300px;
    border-radius: 10px;
    border-color: black;
}
.filter {
    width: 93.36%;
    background-color: #d8c7ba;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 10px;
}

.gen {
    width: 93.36%;
    background-color: #d8c7ba;
    border-radius: 10px;
    margin: 10px;
}
.radio {
    background-color: red;
}
