@import "./component/button.scss";
@import "./component/content.scss";
@import "./component/detailItem.scss";
@import "./component/filterForm.scss";
@import "./component/genItem.scss";
@import "./component/header.scss";
@import './component/rarityItem.scss';
@import "./component/tier.scss";

.background {
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.radioButton {
    background-color: red;
}







