.App {
  height: 100%;
}

.site-layout {
  margin-top: 15px;
  padding: 0 50px;
  height: 100%;
}

.site-content {
  height: 100%;
}
iframe {
  z-index: -1 !important;
}
p {
  margin-bottom: 0 !important;
}

// global
@import "./styles/colors";
@import "./styles/antd-custom";
@import "./styles/global";
@import "~bootstrap/scss/bootstrap";

// components
@import "components/components";
@import "features/features";
